<div class="fpresetbackground" fxLayout="column" fxLayoutAlign="center center">
  <form  *ngIf="!this.isCodeSent" [formGroup]="this.fpresetForm">
    <mat-card fxLayout="column" fxLayoutGap="20px" class="fpreset-card animate__animated animate__fadeInUp">
      <br>
      <div class="fpresetheader">Please-Provide-Email</div>
      <br>
      <img src="https://res.cloudinary.com/dtd9fre4r/image/upload/v1628632124/samples/r5_wipykn.svg" class="fpresetimg">
      <br>
      <mat-form-field>
        <input formControlName="email" autocomplete="off" matInput type="email" placeholder="Email">
        <mat-error>Valid Email is Required</mat-error>
      </mat-form-field>
      <br>
      <div class="mr-3 " fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        <button (click)="fpreset()" mat-flat-button type="submit" style="width:30%;" class="fpresetbutton"
          color="primary">Send</button>
      </div>
      <br>
    </mat-card>
  </form>
  <form *ngIf="this.isCodeSent" [formGroup]="this.fpsetForm">
      <mat-card fxLayout="column" fxLayoutGap="20px" class="fpreset-card animate__animated animate__fadeInUp">
        <br>
        <div class="fpresetheader">Please-Provide-Email</div>
        <br>
        <img src="https://res.cloudinary.com/dtd9fre4r/image/upload/v1628632124/samples/r5_wipykn.svg" class="fpresetimg">
        <br>

        <mat-form-field>
                  <input formControlName="otpcheck" type="text" autocomplete="off" matInput placeholder="Otp">
                  <mat-error> Password is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="newpassword" type="password" autocomplete="off" matInput type="password" placeholder="Password">
          <mat-error> Password is Required</mat-error>
        </mat-form-field>
          <mat-form-field>
            <input formControlName="emailtobereset" type="password" autocomplete="off" matInput type="email" placeholder="Email">
            <mat-error> Email is Required</mat-error>
          </mat-form-field>
        <br>
        <div class="mr-3 " fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="10px">
          <button (click)="fpset()" mat-flat-button type="submit" style="width:30%;" class="fpresetbutton" color="primary"
            *ngIf="this.isCodeSent">Send</button>
        </div>
        <br>
      </mat-card>
    </form>


</div>
