<div fxLayout="column" fxLayoutAlign="center center" class="overlay"  class="fullscreeen"  style="  background: linear-gradient(to right bottom, rgb(241, 158, 80), rgb(192, 115, 115));
">
  <div class="animate__animated animate__rubberBand " fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlex="100%">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>You haven't Verified your Email yet</h1>
        <p>Please verify your email which is sent to <strong>You </strong> before continuing</p>
      </div>
    </mat-card>
  </div>
  <hr>
  <form fxLayoutAlign="center center" fxLayout="column"  fxLayoutGap="10px" class="overlay" [formGroup]="this.otpForm ">
        <mat-form-field>
          <input type="text" formControlName="OtpVerify" matInput>
          <mat-error>OTP is Required</mat-error>
        </mat-form-field>
  <button type="submit" (click)="otpSubmit()" color="primary" mat-button>Submit-Otp</button>
  </form>

</div>

